html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-stroke: 0.6px;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}
.search-box {
  position: fixed;
  top: 0px;
  left: 300px;
  width: 100%;
  height: 50px;
  background: #fff;
  border-bottom: 1px solid #ccc;
  z-index: 5;
}
.search-box .search-box-wrap {
  padding: 10px 20px;
}
.content-side {
  padding: 80px 0px 0px 300px;
}
.content-side .fontGroupName {
  clear: both;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  padding: 20px 0px 10px 0px;
}
.content-side .fontGroupName a {
  display: block;
  font-size: 12px;
  line-height: 30px;
  color: #888;
}
.content-side .font-item {
  cursor: pointer;
  position: relative;
  float: left;
  margin: 10px;
  width: 120px;
  height: 80px;
  text-align: center;
}
.content-side .font-item i.axi {
  color: #444;
  font-size: 30px;
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
}
.content-side .font-item label.letter-name {
  display: block;
  margin: 40px auto;
  color: #888;
}
.content-side .font-item:hover i.axi {
  font-size: 80px;
  line-height: 1.3;
  background: #fff;
  top: -30%;
}
.basket-side {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  overflow: auto;
  background: #fff;
  z-index: 5;
  border-right: 1px solid #ccc;
}
.basket-side h3 {
  display: block;
  font-size: 15px;
  line-height: 50px;
  height: 50px;
  margin: 0px;
  padding: 0px 10px;
  border-bottom: 1px solid #ccc;
}
.basket-side .font-item {
  position: relative;
  float: left;
  width: 255px;
  min-height: 95px;
  padding: 10px 0px 0px 45px;
  border-bottom: 1px dotted #cccccc;
}
.basket-side .font-item i.basketIcon {
  color: #444;
  font-size: 30px;
  vertical-align: middle;
  position: absolute;
  left: 5px;
  top: 20px;
}
.basket-side .font-item input.AXInput.tag {
  width: 230px;
}
.basket-side .font-item input.AXInput.tagie {
  width: 180px;
}
.basket-side .font-item input.AXInput.code {
  width: 150px;
  margin-right: 3px;
}
.basket-side .font-item input.AXInput.unicode {
  text-align: center;
  width: 30px;
  font-family: 'axicon';
}
.basket-side .font-item .AXInputLabel {
  margin: 2px 0px;
}
.basket-side .font-item .basketIconExpand {
  text-decoration: none;
}
.basket-side .font-item .basketIconExpand i.axi {
  font-size: 20px;
  color: #000;
}
.basket-side .font-item .basketIconExpand i.axi:hover {
  color: #ccc;
}
.basket-side .font-item .remove-link {
  position: absolute;
  left: 12px;
  top: 72px;
  text-decoration: none;
}
.basket-side .font-item .remove-link i.axi {
  font-size: 20px;
  color: #000;
}
.basket-side .font-item .remove-link i.axi:hover {
  color: #ccc;
}
.basket-side .font-item .likefind-link {
  position: absolute;
  right: 102px;
  top: 75px;
  text-decoration: none;
}
.basket-side .font-item .likefind-link i.axi {
  font-size: 15px;
  color: #000;
}
.basket-side .font-item .likefind-link i.axi:hover {
  color: #ccc;
}
.basket-side .font-item .font-item-expand {
  text-align: center;
}
.basket-side .font-item .font-item-expand .examples {
  display: none;
  text-align: left;
  padding: 0px 0px 10px 0px;
  font-size: 11px;
}
.basket-side .font-item .font-item-expand .examples i.axi {
  font-size: 30px;
  margin: 0px 3px;
}
.basket-side .font-item .font-item-expand .examples.on {
  display: block;
}
@media (max-width: 767px) {
  .basket-side {
    display: none;
  }
  .search-box {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    background: #fff;
    z-index: 5;
    border-bottom: 1px solid #ccc;
  }
  .search-box .search-box-wrap {
    padding: 10px 10px;
  }
  .search-box #search-word {
    width: 80px;
  }
  .search-box .dx-span {
    display: none;
  }
  .content-side {
    padding: 80px 0px 0px 0px;
  }
  .content-side .font-item {
    cursor: pointer;
    position: relative;
    float: left;
    margin: 10px 0px 10px 10px;
    width: 90px;
    height: 80px;
    text-align: center;
  }
  .content-side .font-item i.axi {
    color: #444;
    font-size: 30px;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
  }
  .content-side .font-item label.letter-name {
    display: block;
    margin: 40px auto;
    color: #888;
  }
  .content-side .font-item:hover i.axi {
    font-size: 80px;
    line-height: 1.3;
    background: #fff;
    top: -30%;
  }
}
